<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/homepage.css">
    <title>Zeiad Ahmed's CV</title>
</head>
<body>
    <header>
        <h1>Name: <span class="underline-text">Zeiad Ahmed</span></h1>
    </header>
    <main>
        <article class="column1">
            <div class="description">
                <header>
                    <h2>TALOS</h2>
                </header>
                <div class="content">
                    <p>a well-designed website serves as a powerful tool for construction companies to rate their workers using points, increase insentive and motivation, and make them stay ahead of the competition. By focusing on user-friendly navigation, clear communication of services offered,construction firms can leverage their online presence to establish credibility by creating online cvs for handworkers, foster trust, and ultimately drive success in an ever-evolving market</p>
                </div>
            </div>
            <div class="imagecontainer">
                <div>
                <img src="static\media\image2.jpg" alt="A description of the image">
                </div>
            <footer>
                <div class="button">
                    <button class="btn">See</button>
                </div>
            </footer>
            </div>
        </article>
        <article class="column2">
            <div class="description">
            <header>
                <h2>Billingham Reference Assistant</h2>
            </header>
            <div class="content">
                <p>In the realm of academic writing and research, having a reliable tool that seamlessly converts online sources into properly formatted references can be a game-changer. Imagine a website designed specifically to streamline the process of citing web links in the Billingham reference style, a widely recognized format in scholarly circles. With this innovative platform, users can simply input a URL, and the website intelligently generates a citation in accordance with the Billingham style guidelines. Whether it's a journal article, a blog post, or a webpage, this tool ensures accuracy and consistency in referencing, saving researchers valuable time and effort. By offering a convenient solution for citing digital resources, the website empowers writers and students to produce polished documents with ease, enhancing the quality and professionalism of their work</p>
            </div>
            </div>
            <div class="imagecontainer">
                <div>
                <img src="static\media\image1.jpg" alt="A description of the image">
                </div>
            <footer>
                <div class="button">
                    <button class="btn">See</button>
                </div>
            </footer>
            </div>
        </article>
    </main>
    <footer class="footer">
        <div class="footerbox">
            <div class="linkedin">
                <a href="https://www.linkedin.com/in/zeiadahmed/">Linkedin</a>
            </div>
            <div class="email">
                <p>Email: Ziadmsolimans@gmail.com</p>
            </div>
        </div>
    </footer>
</body>
</html>