<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/homepage.css">
    <title>Zeiad Ahmed's CV</title>
</head>
<body>
    <header>
        <h1>Name: <span class="underline-text">Zeiad Ahmed</span></h1>
    </header>
    <main>
        <article class="column1">
            <div class="description">
                <header>
                    <h2>TALOS</h2>
                </header>
                <div class="content">
                    <p>Climate change, driven predominantly by human activities such as burning fossil fuels and deforestation, has emerged as one of the most pressing global challenges of our time. Rising global temperatures, melting ice caps, and more frequent extreme weather events serve as stark reminders of the urgent need for action. The impacts of climate change are far-reaching, affecting ecosystems, economies, and livelihoods worldwide. From the loss of biodiversity to disruptions in food and water supplies, the consequences are profound and multifaceted. Addressing climate change requires concerted efforts at local, national, and international levels, including transitioning to renewable energy sources, implementing sustainable land-use practices, and fostering climate resilience in vulnerable communities. While the task ahead is daunting, collective action and innovative solutions offer hope for a sustainable future for generations to come..</p>
                </div>
            </div>
            <div class="imagecontainer">
                <div>
                <img src="static\media\image2.jpg" alt="A description of the image">
                </div>
            <footer>
                <div class="button">
                    <button class="btn">See</button>
                </div>
            </footer>
            </div>
        </article>
        <article class="column2">
            <div class="description">
            <header>
                <h2>Billingham Reference Assistant</h2>
            </header>
            <div class="content">
                <p>Climate change, driven predominantly by human activities such as burning fossil fuels and deforestation, has emerged as one of the most pressing global challenges of our time. Rising global temperatures, melting ice caps, and more frequent extreme weather events serve as stark reminders of the urgent need for action. The impacts of climate change are far-reaching, affecting ecosystems, economies, and livelihoods worldwide. From the loss of biodiversity to disruptions in food and water supplies, the consequences are profound and multifaceted. Addressing climate change requires concerted efforts at local, national, and international levels, including transitioning to renewable energy sources, implementing sustainable land-use practices, and fostering climate resilience in vulnerable communities. While the task ahead is daunting, collective action and innovative solutions offer hope for a sustainable future for generations to come..</p>
            </div>
            </div>
            <div class="imagecontainer">
                <div>
                <img src="static\media\image1.jpg" alt="A description of the image">
                </div>
            <footer>
                <div class="button">
                    <button class="btn">See</button>
                </div>
            </footer>
            </div>
        </article>
    </main>
    <footer class="footer">
        <div class="footerbox">
            <div class="linkedin">
                <a href="https://www.linkedin.com/in/zeiadahmed/">Linkedin</a>
            </div>
            <div class="email">
                <p>Email: Ziadmsolimans@gmail.com</p>
            </div>
        </div>
    </footer>
</body>
</html>